.wrapper {
  width: 100vw;
}
nav {
  height: 4rem;
  padding: 0 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  &-logo {
    max-width: 100px;
  }
}

.container {
  height: calc(100vh - 8rem);
  padding: 1em 10em;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.switch {
  display: grid;
  height: min-content;
  justify-self: center;
  border: 1px solid #e1e2e3;
  border-radius: 12px;
  cursor: pointer;
  &-image {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  &-name {
    padding: .75rem .75rem .25rem .75rem;
    font-size: 1em;
    font-weight: 500;
  }
  &-brand {
    padding: 0 .75rem .75rem .75rem;
    font-size: .8em;
  }
}

footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eaeaea;
  font-size: .8em;
}
